.compsoul-roulette {
  height: 34rem;
  width: 34rem;
  border: 1.2em solid #fff;
  /* border-offset: -1em; */
  border-radius: 100%;
  box-shadow: 1.2em 1.2em 0 -0.8em #00000022;
  position: relative;
}

.compsoul-roulette .roulette-list {
  animation: roulette 0.8s linear infinite paused;
  border-radius: 100%;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: -1;
}

.compsoul-roulette-checkbox:checked
  + .compsoul-roulette-label
  + .compsoul-roulette
  .roulette-list {
  animation-play-state: running;
}

@keyframes roulette {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marker {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-10%, -90%);
  .animate {
    animation: rotateTeardrop 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

@keyframes rotateTeardrop {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* button {
  margin-top: 60px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
} */
