@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  /* font-family: var(--main-font); */
  /* text-shadow:
    3px 3px 0 tomato,
    -3px -3px 0 tomato,
    -3px 3px 0 tomato,
    3px -3px 0 tomato; */
}
